@tailwind base;
@tailwind components;
@tailwind utilities;

 
.base{
    background-color:#0F2215 !important
}
.primary{
    background-color:#22C55E !important
}
.primar-dark{
    background-color:#16A34A
}

.text-primary{
    color: #22C55E !important;
}
.text-secondary{
    color: #16A34A !important;
}

.input-bg{
    background-color: #1A271F !important;
    color: white !important;
}